@import url(https://fonts.googleapis.com/css?family=Inter:regular,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icomoon;
  font-display: swap;
  src: url("../fonts/icomoon.woff2") format("woff2"), url("../fonts/icomoon.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-browseprivately:before {
  content: "\e900";
}

._icon-bypass:before {
  content: "\e901";
}

._icon-check:before {
  content: "\e902";
}

._icon-cleanweb:before {
  content: "\e903";
}

._icon-encryption:before {
  content: "\e904";
}

._icon-killswitch:before {
  content: "\e905";
}

._icon-nologging:before {
  content: "\e906";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Inter";
  font-size: 1.5rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background: #fff;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 77.375rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-family: Roboto;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: normal;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.header__container {
  gap: 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Roboto;
  line-height: normal;
}

.header__logo {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header__logo-link {
  background: #5850ec;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 0.5625rem 5.3125rem 0.625rem 5.3125rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__logo-link:hover {
  background: #38357b;
  -webkit-box-shadow: 4px 6px 6px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 6px 6px 0px rgba(0, 0, 0, 0.25);
}

.header__button {
  background: #5850ec;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 0.5625rem 0.8125rem 0.625rem 0.8125rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__button:hover {
  background: #38357b;
  -webkit-box-shadow: 4px 6px 6px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 6px 6px 0px rgba(0, 0, 0, 0.25);
}

._header-scroll {
  background-color: rgba(66, 30, 166, 0.2784313725);
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.footer {
  color: #fff;
  background: #232323;
}

.footer__column {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
}

.footer__row:nth-of-type(1) {
  opacity: 0;
  -webkit-transition: all 1.8s ease 0s;
  transition: all 1.8s ease 0s;
  -webkit-transform: translate(-100%);
      -ms-transform: translate(-100%);
          transform: translate(-100%);
  min-width: 12.9375rem;
}

._watcher-view .footer__row:nth-of-type(1) {
  opacity: 1;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.footer__row:nth-of-type(2) {
  opacity: 0;
  -webkit-transition: all 1.8s ease 0s;
  transition: all 1.8s ease 0s;
  -webkit-transform: translate(-100%);
      -ms-transform: translate(-100%);
          transform: translate(-100%);
  min-width: 15rem;
}

._watcher-view .footer__row:nth-of-type(2) {
  opacity: 1;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.footer__row:nth-of-type(3) {
  opacity: 0;
  -webkit-transition: all 1.8s ease 0s;
  transition: all 1.8s ease 0s;
  -webkit-transform: translate(100%);
      -ms-transform: translate(100%);
          transform: translate(100%);
  min-width: 21.25rem;
}

._watcher-view .footer__row:nth-of-type(3) {
  opacity: 1;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.footer__row:nth-of-type(4) {
  opacity: 0;
  -webkit-transition: all 1.8s ease 0s;
  transition: all 1.8s ease 0s;
  -webkit-transform: translate(100%);
      -ms-transform: translate(100%);
          transform: translate(100%);
  min-width: 20.5625rem;
}

._watcher-view .footer__row:nth-of-type(4) {
  opacity: 1;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.footer__title {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.footer__title:not(:last-child) {
  margin-bottom: 1.3125rem;
}

.footer__text {
  font-size: 0.875rem;
  line-height: normal;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.625rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__link {
  font-size: 0.875rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer__link:hover {
  color: #1dfae5;
  text-decoration: underline;
}

.footer-two {
  background: #0d0c14;
}

.footer-two__conteiner {
  text-align: center;
  font-family: Inter;
  font-weight: 700;
}

.secure {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../img/secure/decor.svg") 50% 100%/cover no-repeat;
}

.secure__container {
  color: #fff;
  padding-top: 7.1875rem;
}

.secure__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
}

.secure__tel {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.secure__title {
  text-align: center;
}

.secure__title:not(:last-child) {
  margin-bottom: 2rem;
}

.secure__sub-title {
  text-align: center;
}

.secure__btn {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.secure__btn:not(:last-child) {
  margin-bottom: 0.8125rem;
}

.secure__button {
  padding: 1.8125rem 0rem 1.75rem;
  background: #5850ec;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.secure__button:hover {
  background: #38357b;
  -webkit-box-shadow: 4px 6px 6px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 6px 6px 0px rgba(0, 0, 0, 0.25);
}

.secure__text {
  text-align: center;
}

.why__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem;
}

.why__sub-title {
  opacity: 0;
  -webkit-transition: all 1.8s ease 0s;
  transition: all 1.8s ease 0s;
  -webkit-transform: translate(-100%);
      -ms-transform: translate(-100%);
          transform: translate(-100%);
  position: relative;
  font-family: Roboto;
  font-weight: 600;
  line-height: normal;
}

._watcher-view .why__sub-title {
  opacity: 1;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.why__sub-title:not(:last-child) {
  margin-bottom: 3.8125rem;
}

.why__sub-title::before {
  content: "";
  position: absolute;
  bottom: -1.625rem;
  left: 0;
  width: 17.75rem;
  height: 1.375rem;
  background-color: #d9d9d9;
}

.why__title {
  opacity: 0;
  -webkit-transition: all 1.8s ease 0.5s;
  transition: all 1.8s ease 0.5s;
  -webkit-transform: translate(-100%);
      -ms-transform: translate(-100%);
          transform: translate(-100%);
}

._watcher-view .why__title {
  opacity: 1;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.why__title:not(:last-child) {
  margin-bottom: 1.0625rem;
}

.why__text-bolt {
  opacity: 0;
  -webkit-transition: all 1.8s ease 1s;
  transition: all 1.8s ease 1s;
  -webkit-transform: translate(-100%);
      -ms-transform: translate(-100%);
          transform: translate(-100%);
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
}

._watcher-view .why__text-bolt {
  opacity: 1;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.why__text-bolt:not(:last-child) {
  margin-bottom: 1.0625rem;
}

.why__text {
  opacity: 0;
  -webkit-transition: all 1.8s ease 1.5s;
  transition: all 1.8s ease 1.5s;
  -webkit-transform: translate(-100%);
      -ms-transform: translate(-100%);
          transform: translate(-100%);
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

._watcher-view .why__text {
  opacity: 1;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.why__img {
  opacity: 0;
  -webkit-transition: all 1.8s ease 0s;
  transition: all 1.8s ease 0s;
  -webkit-transform: translate(100%);
      -ms-transform: translate(100%);
          transform: translate(100%);
  position: relative;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._watcher-view .why__img {
  opacity: 1;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.why__image-big {
  position: relative;
  z-index: 3;
}

.why__image-big img {
  max-width: 100%;
}

.why__image-small img {
  max-width: 100%;
}

.devices {
  background: linear-gradient(132deg, rgba(88, 224, 254, 0.2) 0%, rgba(133, 233, 255, 0.19) 6.25%, rgba(255, 255, 255, 0) 100%), #dceeff;
}

.devices__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.devices__image {
  display: block;
  padding: 0.9375rem 11.875rem;
}

.devices__image img {
  max-width: 100%;
}

.devices__text {
  opacity: 0;
  -webkit-transition: all 1.8s ease 0s;
  transition: all 1.8s ease 0s;
  -webkit-transform: translate(-100%);
      -ms-transform: translate(-100%);
          transform: translate(-100%);
  position: absolute;
  color: #000;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
}

._watcher-view .devices__text {
  opacity: 1;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.devices__text span {
  color: #ec0000;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
}

.text-1 {
  top: 7%;
}

.text-2 {
  right: 17%;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.text-3 {
  bottom: 7%;
}

.text-4 {
  left: 17%;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.features {
  background: #2b2b2b;
}

.features__title {
  opacity: 0;
  -webkit-transition: all 1.8s ease 0s;
  transition: all 1.8s ease 0s;
  -webkit-transform: translate(-100%);
      -ms-transform: translate(-100%);
          transform: translate(-100%);
  color: #fff;
  text-align: center;
  margin-bottom: 2.5625rem;
}

._watcher-view .features__title {
  opacity: 1;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1.5rem;
}

.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: #fff;
  font-family: Roboto;
  line-height: normal;
}

.features__item span {
  margin-bottom: 0.75rem;
  text-align: center;
  color: #000;
  font-size: 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 9.375rem;
  height: 9.3178125rem;
  border-radius: 0.9375rem;
  background: #d9d9d9;
}

.privacy__title {
  opacity: 0;
  -webkit-transition: all 1.8s ease 1s;
  transition: all 1.8s ease 1s;
  -webkit-transform: translate(-100%);
      -ms-transform: translate(-100%);
          transform: translate(-100%);
  text-align: center;
}

._watcher-view .privacy__title {
  opacity: 1;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.privacy__title:not(:last-child) {
  margin-bottom: 3.1875rem;
}

.privacy__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.privacy__image img {
  max-width: 100%;
}

.privacy__image:not(:last-child) {
  margin-bottom: 1.8125rem;
}

.privacy__sub-title {
  font-family: Roboto;
  font-weight: 600;
  line-height: normal;
  text-align: center;
}

.privacy__sub-title:not(:last-child) {
  margin-bottom: 1.6875rem;
}

.privacy__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #fff;
  font-family: Roboto;
  line-height: normal;
}

.privacy__button {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #535353;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.privacy__button:hover {
  background: #272020;
}

.button-1 {
  padding: 2.3125rem;
}

.button-2 {
  padding: 2.3125rem;
}

.button-3 {
  padding: 2.3125rem;
}

.protect {
  background: #0d0d0d;
}

.protect__container {
  color: #fff;
  font-family: Roboto;
}

.protect__title {
  opacity: 0;
  -webkit-transition: all 1.8s ease 0s;
  transition: all 1.8s ease 0s;
  -webkit-transform: translate(-100%);
      -ms-transform: translate(-100%);
          transform: translate(-100%);
  text-align: center;
}

._watcher-view .protect__title {
  opacity: 1;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.protect__title:not(:last-child) {
  margin-bottom: 3.1875rem;
}

.protect__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}

.block__title {
  opacity: 0;
  -webkit-transition: all 1.8s ease 0.5s;
  transition: all 1.8s ease 0.5s;
  -webkit-transform: translate(-100%);
      -ms-transform: translate(-100%);
          transform: translate(-100%);
  margin-left: 2.25rem;
  font-weight: 700;
  line-height: normal;
}

._watcher-view .block__title {
  opacity: 1;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.block__title:not(:last-child) {
  margin-bottom: 1.8125rem;
}

.block__list {
  color: #fff;
  font-size: 1.25rem;
  line-height: normal;
}

.block__list:not(:last-child) {
  margin-bottom: 4rem;
}

.block__item {
  opacity: 0;
  -webkit-transition: all 1.8s ease 1s;
  transition: all 1.8s ease 1s;
  -webkit-transform: translate(-100%);
      -ms-transform: translate(-100%);
          transform: translate(-100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.375rem;
}

._watcher-view .block__item {
  opacity: 1;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.block__item:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.block__item span {
  font-size: 2.3125rem;
  color: #0fa2db;
}

.block__button {
  padding: 2.375rem 6.3125rem 2.25rem 6.375rem;
  background: #535353;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.block__button:hover {
  background: #272020;
}

.block__image {
  opacity: 0;
  -webkit-transition: all 1.8s ease 0s;
  transition: all 1.8s ease 0s;
  -webkit-transform: translate(100%);
      -ms-transform: translate(100%);
          transform: translate(100%);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

._watcher-view .block__image {
  opacity: 1;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.block__image img {
  width: 100%;
}

@media (min-width: 59.375em) {
  .why__block {
    max-width: 35.5625rem;
  }

  .why__img {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }

  .why__image-small {
    position: absolute;
    top: 69.696969697%;
    left: -4.1390728477%;
  }

  .features__item:nth-child(1) {
    min-width: 11.25rem;
  }

  .features__item span:nth-child(1) {
    margin-left: 0.9375rem;
  }
}

@media (min-width: 77.375em) {
  .header {
    min-height: 6.875rem;
  }

  .header {
    padding-top: 1.875rem;
  }

  .header {
    padding-bottom: 1.875rem;
  }

  .footer__container {
    padding-top: 7.875rem;
  }

  .footer__container {
    padding-bottom: 7.875rem;
  }

  .footer__text {
    margin-bottom: 7.4375rem;
  }

  .footer__list {
    -webkit-column-gap: 3.5625rem;
       -moz-column-gap: 3.5625rem;
            column-gap: 3.5625rem;
  }

  .footer-two__conteiner {
    padding-top: 3.875rem;
  }

  .footer-two__conteiner {
    padding-bottom: 3.875rem;
  }

  .secure__container {
    padding-bottom: 6.9375rem;
  }

  .secure__contact {
    font-size: 1.5rem;
  }

  .secure__contact {
    margin-bottom: 3.4375rem;
  }

  .secure__sub-title:not(:last-child) {
    margin-bottom: 6.625rem;
  }

  .secure__button {
    font-size: 2.5rem;
  }

  .secure__button {
    padding-left: 5.875rem;
  }

  .secure__button {
    padding-right: 5.875rem;
  }

  .why__container {
    padding-top: 6rem;
  }

  .why__container {
    padding-bottom: 9.5rem;
  }

  .devices__container {
    padding-top: 8.6875rem;
  }

  .devices__container {
    padding-bottom: 8.625rem;
  }

  .devices__text {
    font-size: 2.5rem;
  }

  .features__container {
    padding-top: 3.8125rem;
  }

  .features__container {
    padding-bottom: 4.6875rem;
  }

  .features__list {
    gap: 1.875rem;
  }

  .features__item {
    font-size: 1.5rem;
  }

  .privacy__container {
    padding-top: 3.25rem;
  }

  .privacy__container {
    padding-bottom: 4rem;
  }

  .privacy__btn {
    gap: 2.6875rem;
  }

  .privacy__btn {
    font-size: 1.5rem;
  }

  .button-1 {
    padding-right: 7.0625rem;
  }

  .button-1 {
    padding-left: 7.0625rem;
  }

  .button-2 {
    padding-right: 5.625rem;
  }

  .button-2 {
    padding-left: 5.625rem;
  }

  .button-3 {
    padding-right: 5.6875rem;
  }

  .button-3 {
    padding-left: 5.6875rem;
  }

  .protect__container {
    padding-top: 3.5625rem;
  }

  .protect__container {
    padding-bottom: 6.25rem;
  }

  .block__button {
    font-size: 1.5rem;
  }
}

@media (min-width: 30em) {
  .block__row {
    min-width: 30rem;
  }
}

@media (min-width: 45em) {
  .header__logo {
    margin-left: 1.6875rem;
  }
}

@media (max-width: 45em) {
  .header__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .block__button {
    min-width: 100%;
  }
}

@media (max-width: 33em) {
  .privacy__button {
    display: block;
    min-width: 100%;
  }
}

@media (max-width: 25em) {
  .devices__image {
    padding: 0.9375rem 5rem;
  }
}

@media (max-width: 20em) {
  .header {
    min-height: 3.75rem;
  }

  .header {
    padding-top: 1.25rem;
  }

  .header {
    padding-bottom: 1.25rem;
  }

  .footer__container {
    padding-top: 3.125rem;
  }

  .footer__container {
    padding-bottom: 3.125rem;
  }

  .footer__text {
    margin-bottom: 3.125rem;
  }

  .footer__list {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .footer-two__conteiner {
    padding-top: 1.25rem;
  }

  .footer-two__conteiner {
    padding-bottom: 1.25rem;
  }

  .secure__container {
    padding-bottom: 3.125rem;
  }

  .secure__contact {
    font-size: 1rem;
  }

  .secure__contact {
    margin-bottom: 1.875rem;
  }

  .secure__sub-title:not(:last-child) {
    margin-bottom: 3.125rem;
  }

  .secure__button {
    font-size: 1.25rem;
  }

  .secure__button {
    padding-left: 2.5rem;
  }

  .secure__button {
    padding-right: 2.5rem;
  }

  .why__container {
    padding-top: 3.125rem;
  }

  .why__container {
    padding-bottom: 3.125rem;
  }

  .devices__container {
    padding-top: 3.125rem;
  }

  .devices__container {
    padding-bottom: 3.125rem;
  }

  .devices__text {
    font-size: 1.25rem;
  }

  .features__container {
    padding-top: 3.125rem;
  }

  .features__container {
    padding-bottom: 3.125rem;
  }

  .features__list {
    gap: 0.625rem;
  }

  .features__item {
    font-size: 1rem;
  }

  .privacy__container {
    padding-top: 2.5rem;
  }

  .privacy__container {
    padding-bottom: 3.125rem;
  }

  .privacy__btn {
    gap: 0.625rem;
  }

  .privacy__btn {
    font-size: 1.125rem;
  }

  .button-1 {
    padding-right: 2.5rem;
  }

  .button-1 {
    padding-left: 2.5rem;
  }

  .button-2 {
    padding-right: 2.5rem;
  }

  .button-2 {
    padding-left: 2.5rem;
  }

  .button-3 {
    padding-right: 2.5rem;
  }

  .button-3 {
    padding-left: 2.5rem;
  }

  .protect__container {
    padding-top: 2.5rem;
  }

  .protect__container {
    padding-bottom: 3.125rem;
  }

  .block__button {
    font-size: 1rem;
  }
}

@media (max-width: 71.875em) {
  .features__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 68.75em) {
  .footer__column {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 60.625em) {
  .protect__block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 59.375em) {
  .why__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .why__img {
    gap: 1.25rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .why__image-small {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 45.3125em) {
  .footer__column {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 45.9375em) {
  .secure__contact {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 44.9375em) {
  .header__logo-link {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__button {
    width: 100%;
  }

  .secure__container {
    padding-top: 9.375rem;
  }
}

@media (max-width: 44.9375em) and (max-width: 20em) {
  .header__logo-link {
    font-size: 1.25rem;
  }

  .header__button {
    font-size: 1.25rem;
  }
}

@media (max-width: 43.75em) {
  .devices__image {
    padding: 0.9375rem 10rem;
  }
}

@media (max-width: 37.5em) {
  .devices__image {
    padding: 0.9375rem 7.5rem;
  }
}

@media (max-width: 31.25em) {
  .devices__image {
    padding: 0.9375rem 6.25rem;
  }
}

@media (max-width: 28.125em) and (max-width: 20em) {
  .block__button {
    padding-top: 1.5625rem;
  }

  .block__button {
    padding-botton: 1.5625rem;
  }

  .block__button {
    padding-right: 5.625rem;
  }

  .block__button {
    padding-left: 5.625rem;
  }
}

@media (min-width: 20em) and (max-width: 77.375em) {
@supports ( min-height: clamp( 3.75rem , 2.6606753813rem  +  5.4466230937vw , 6.875rem )) {
    .header {
      min-height: clamp( 3.75rem , 2.6606753813rem  +  5.4466230937vw , 6.875rem );
    }
}

@supports not ( min-height: clamp( 3.75rem , 2.6606753813rem  +  5.4466230937vw , 6.875rem )) {
    .header {
      min-height: calc(3.75rem + 3.125 * (100vw - 20rem) / 57.375);
    }
}

@supports (padding-top: clamp( 1.25rem , 1.0321350763rem  +  1.0893246187vw , 1.875rem )) {
    .header {
      padding-top: clamp( 1.25rem , 1.0321350763rem  +  1.0893246187vw , 1.875rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 1.0321350763rem  +  1.0893246187vw , 1.875rem )) {
    .header {
      padding-top: calc(1.25rem + 0.625 * (100vw - 20rem) / 57.375);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 1.0321350763rem  +  1.0893246187vw , 1.875rem )) {
    .header {
      padding-bottom: clamp( 1.25rem , 1.0321350763rem  +  1.0893246187vw , 1.875rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 1.0321350763rem  +  1.0893246187vw , 1.875rem )) {
    .header {
      padding-bottom: calc(1.25rem + 0.625 * (100vw - 20rem) / 57.375);
    }
}

@supports (padding-top: clamp( 3.125rem , 1.4692265795rem  +  8.2788671024vw , 7.875rem )) {
    .footer__container {
      padding-top: clamp( 3.125rem , 1.4692265795rem  +  8.2788671024vw , 7.875rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 1.4692265795rem  +  8.2788671024vw , 7.875rem )) {
    .footer__container {
      padding-top: calc(3.125rem + 4.75 * (100vw - 20rem) / 57.375);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 1.4692265795rem  +  8.2788671024vw , 7.875rem )) {
    .footer__container {
      padding-bottom: clamp( 3.125rem , 1.4692265795rem  +  8.2788671024vw , 7.875rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 1.4692265795rem  +  8.2788671024vw , 7.875rem )) {
    .footer__container {
      padding-bottom: calc(3.125rem + 4.75 * (100vw - 20rem) / 57.375);
    }
}

@supports (margin-bottom: clamp( 3.125rem , 1.6217320261rem  +  7.5163398693vw , 7.4375rem )) {
    .footer__text {
      margin-bottom: clamp( 3.125rem , 1.6217320261rem  +  7.5163398693vw , 7.4375rem );
    }
}

@supports not (margin-bottom: clamp( 3.125rem , 1.6217320261rem  +  7.5163398693vw , 7.4375rem )) {
    .footer__text {
      margin-bottom: calc(3.125rem + 4.3125 * (100vw - 20rem) / 57.375);
    }
}

@supports ((-moz-column-gap: clamp( 1.25rem , 0.4438997821rem  +  4.0305010893vw , 3.5625rem )) or (column-gap: clamp( 1.25rem , 0.4438997821rem  +  4.0305010893vw , 3.5625rem ))) {
    .footer__list {
      -webkit-column-gap: clamp( 1.25rem , 0.4438997821rem  +  4.0305010893vw , 3.5625rem );
         -moz-column-gap: clamp( 1.25rem , 0.4438997821rem  +  4.0305010893vw , 3.5625rem );
              column-gap: clamp( 1.25rem , 0.4438997821rem  +  4.0305010893vw , 3.5625rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , 0.4438997821rem  +  4.0305010893vw , 3.5625rem )) or (column-gap: clamp( 1.25rem , 0.4438997821rem  +  4.0305010893vw , 3.5625rem ))) {
    .footer__list {
      -webkit-column-gap: calc(1.25rem + 2.3125 * (100vw - 20rem) / 57.375);
         -moz-column-gap: calc(1.25rem + 2.3125 * (100vw - 20rem) / 57.375);
              column-gap: calc(1.25rem + 2.3125 * (100vw - 20rem) / 57.375);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.3349673203rem  +  4.5751633987vw , 3.875rem )) {
    .footer-two__conteiner {
      padding-top: clamp( 1.25rem , 0.3349673203rem  +  4.5751633987vw , 3.875rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.3349673203rem  +  4.5751633987vw , 3.875rem )) {
    .footer-two__conteiner {
      padding-top: calc(1.25rem + 2.625 * (100vw - 20rem) / 57.375);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.3349673203rem  +  4.5751633987vw , 3.875rem )) {
    .footer-two__conteiner {
      padding-bottom: clamp( 1.25rem , 0.3349673203rem  +  4.5751633987vw , 3.875rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.3349673203rem  +  4.5751633987vw , 3.875rem )) {
    .footer-two__conteiner {
      padding-bottom: calc(1.25rem + 2.625 * (100vw - 20rem) / 57.375);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 1.7960239651rem  +  6.6448801743vw , 6.9375rem )) {
    .secure__container {
      padding-bottom: clamp( 3.125rem , 1.7960239651rem  +  6.6448801743vw , 6.9375rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 1.7960239651rem  +  6.6448801743vw , 6.9375rem )) {
    .secure__container {
      padding-bottom: calc(3.125rem + 3.8125 * (100vw - 20rem) / 57.375);
    }
}

@supports (font-size: clamp( 1rem , 0.825708061rem  +  0.871459695vw , 1.5rem )) {
    .secure__contact {
      font-size: clamp( 1rem , 0.825708061rem  +  0.871459695vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.825708061rem  +  0.871459695vw , 1.5rem )) {
    .secure__contact {
      font-size: calc(1rem + 0.5 * (100vw - 20rem) / 57.375);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.3303376906rem  +  2.7233115468vw , 3.4375rem )) {
    .secure__contact {
      margin-bottom: clamp( 1.875rem , 1.3303376906rem  +  2.7233115468vw , 3.4375rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.3303376906rem  +  2.7233115468vw , 3.4375rem )) {
    .secure__contact {
      margin-bottom: calc(1.875rem + 1.5625 * (100vw - 20rem) / 57.375);
    }
}

@supports (margin-bottom: clamp( 3.125rem , 1.904956427rem  +  6.1002178649vw , 6.625rem )) {
    .secure__sub-title:not(:last-child) {
      margin-bottom: clamp( 3.125rem , 1.904956427rem  +  6.1002178649vw , 6.625rem );
    }
}

@supports not (margin-bottom: clamp( 3.125rem , 1.904956427rem  +  6.1002178649vw , 6.625rem )) {
    .secure__sub-title:not(:last-child) {
      margin-bottom: calc(3.125rem + 3.5 * (100vw - 20rem) / 57.375);
    }
}

@supports (font-size: clamp( 1.25rem , 0.8142701525rem  +  2.1786492375vw , 2.5rem )) {
    .secure__button {
      font-size: clamp( 1.25rem , 0.8142701525rem  +  2.1786492375vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.8142701525rem  +  2.1786492375vw , 2.5rem )) {
    .secure__button {
      font-size: calc(1.25rem + 1.25 * (100vw - 20rem) / 57.375);
    }
}

@supports (padding-left: clamp( 2.5rem , 1.3235294118rem  +  5.8823529412vw , 5.875rem )) {
    .secure__button {
      padding-left: clamp( 2.5rem , 1.3235294118rem  +  5.8823529412vw , 5.875rem );
    }
}

@supports not (padding-left: clamp( 2.5rem , 1.3235294118rem  +  5.8823529412vw , 5.875rem )) {
    .secure__button {
      padding-left: calc(2.5rem + 3.375 * (100vw - 20rem) / 57.375);
    }
}

@supports (padding-right: clamp( 2.5rem , 1.3235294118rem  +  5.8823529412vw , 5.875rem )) {
    .secure__button {
      padding-right: clamp( 2.5rem , 1.3235294118rem  +  5.8823529412vw , 5.875rem );
    }
}

@supports not (padding-right: clamp( 2.5rem , 1.3235294118rem  +  5.8823529412vw , 5.875rem )) {
    .secure__button {
      padding-right: calc(2.5rem + 3.375 * (100vw - 20rem) / 57.375);
    }
}

@supports (padding-top: clamp( 3.125rem , 2.1228213508rem  +  5.0108932462vw , 6rem )) {
    .why__container {
      padding-top: clamp( 3.125rem , 2.1228213508rem  +  5.0108932462vw , 6rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 2.1228213508rem  +  5.0108932462vw , 6rem )) {
    .why__container {
      padding-top: calc(3.125rem + 2.875 * (100vw - 20rem) / 57.375);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 0.9027777778rem  +  11.1111111111vw , 9.5rem )) {
    .why__container {
      padding-bottom: clamp( 3.125rem , 0.9027777778rem  +  11.1111111111vw , 9.5rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 0.9027777778rem  +  11.1111111111vw , 9.5rem )) {
    .why__container {
      padding-bottom: calc(3.125rem + 6.375 * (100vw - 20rem) / 57.375);
    }
}

@supports (padding-top: clamp( 3.125rem , 1.1860021786rem  +  9.6949891068vw , 8.6875rem )) {
    .devices__container {
      padding-top: clamp( 3.125rem , 1.1860021786rem  +  9.6949891068vw , 8.6875rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 1.1860021786rem  +  9.6949891068vw , 8.6875rem )) {
    .devices__container {
      padding-top: calc(3.125rem + 5.5625 * (100vw - 20rem) / 57.375);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 1.207788671rem  +  9.5860566449vw , 8.625rem )) {
    .devices__container {
      padding-bottom: clamp( 3.125rem , 1.207788671rem  +  9.5860566449vw , 8.625rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 1.207788671rem  +  9.5860566449vw , 8.625rem )) {
    .devices__container {
      padding-bottom: calc(3.125rem + 5.5 * (100vw - 20rem) / 57.375);
    }
}

@supports (font-size: clamp( 1.25rem , 0.8142701525rem  +  2.1786492375vw , 2.5rem )) {
    .devices__text {
      font-size: clamp( 1.25rem , 0.8142701525rem  +  2.1786492375vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.8142701525rem  +  2.1786492375vw , 2.5rem )) {
    .devices__text {
      font-size: calc(1.25rem + 1.25 * (100vw - 20rem) / 57.375);
    }
}

@supports (padding-top: clamp( 3.125rem , 2.8853485839rem  +  1.1982570806vw , 3.8125rem )) {
    .features__container {
      padding-top: clamp( 3.125rem , 2.8853485839rem  +  1.1982570806vw , 3.8125rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 2.8853485839rem  +  1.1982570806vw , 3.8125rem )) {
    .features__container {
      padding-top: calc(3.125rem + 0.6875 * (100vw - 20rem) / 57.375);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 2.5803376906rem  +  2.7233115468vw , 4.6875rem )) {
    .features__container {
      padding-bottom: clamp( 3.125rem , 2.5803376906rem  +  2.7233115468vw , 4.6875rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 2.5803376906rem  +  2.7233115468vw , 4.6875rem )) {
    .features__container {
      padding-bottom: calc(3.125rem + 1.5625 * (100vw - 20rem) / 57.375);
    }
}

@supports (gap: clamp( 0.625rem , 0.1892701525rem  +  2.1786492375vw , 1.875rem )) {
    .features__list {
      gap: clamp( 0.625rem , 0.1892701525rem  +  2.1786492375vw , 1.875rem );
    }
}

@supports not (gap: clamp( 0.625rem , 0.1892701525rem  +  2.1786492375vw , 1.875rem )) {
    .features__list {
      gap: calc(0.625rem + 1.25 * (100vw - 20rem) / 57.375);
    }
}

@supports (font-size: clamp( 1rem , 0.825708061rem  +  0.871459695vw , 1.5rem )) {
    .features__item {
      font-size: clamp( 1rem , 0.825708061rem  +  0.871459695vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.825708061rem  +  0.871459695vw , 1.5rem )) {
    .features__item {
      font-size: calc(1rem + 0.5 * (100vw - 20rem) / 57.375);
    }
}

@supports (padding-top: clamp( 2.5rem , 2.2385620915rem  +  1.3071895425vw , 3.25rem )) {
    .privacy__container {
      padding-top: clamp( 2.5rem , 2.2385620915rem  +  1.3071895425vw , 3.25rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 2.2385620915rem  +  1.3071895425vw , 3.25rem )) {
    .privacy__container {
      padding-top: calc(2.5rem + 0.75 * (100vw - 20rem) / 57.375);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 2.8199891068rem  +  1.5250544662vw , 4rem )) {
    .privacy__container {
      padding-bottom: clamp( 3.125rem , 2.8199891068rem  +  1.5250544662vw , 4rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 2.8199891068rem  +  1.5250544662vw , 4rem )) {
    .privacy__container {
      padding-bottom: calc(3.125rem + 0.875 * (100vw - 20rem) / 57.375);
    }
}

@supports (gap: clamp( 0.625rem , -0.0939542484rem  +  3.5947712418vw , 2.6875rem )) {
    .privacy__btn {
      gap: clamp( 0.625rem , -0.0939542484rem  +  3.5947712418vw , 2.6875rem );
    }
}

@supports not (gap: clamp( 0.625rem , -0.0939542484rem  +  3.5947712418vw , 2.6875rem )) {
    .privacy__btn {
      gap: calc(0.625rem + 2.0625 * (100vw - 20rem) / 57.375);
    }
}

@supports (font-size: clamp( 1.125rem , 0.9942810458rem  +  0.6535947712vw , 1.5rem )) {
    .privacy__btn {
      font-size: clamp( 1.125rem , 0.9942810458rem  +  0.6535947712vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.9942810458rem  +  0.6535947712vw , 1.5rem )) {
    .privacy__btn {
      font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 57.375);
    }
}

@supports (padding-right: clamp( 2.5rem , 0.9095860566rem  +  7.9520697168vw , 7.0625rem )) {
    .button-1 {
      padding-right: clamp( 2.5rem , 0.9095860566rem  +  7.9520697168vw , 7.0625rem );
    }
}

@supports not (padding-right: clamp( 2.5rem , 0.9095860566rem  +  7.9520697168vw , 7.0625rem )) {
    .button-1 {
      padding-right: calc(2.5rem + 4.5625 * (100vw - 20rem) / 57.375);
    }
}

@supports (padding-left: clamp( 2.5rem , 0.9095860566rem  +  7.9520697168vw , 7.0625rem )) {
    .button-1 {
      padding-left: clamp( 2.5rem , 0.9095860566rem  +  7.9520697168vw , 7.0625rem );
    }
}

@supports not (padding-left: clamp( 2.5rem , 0.9095860566rem  +  7.9520697168vw , 7.0625rem )) {
    .button-1 {
      padding-left: calc(2.5rem + 4.5625 * (100vw - 20rem) / 57.375);
    }
}

@supports (padding-right: clamp( 2.5rem , 1.4106753813rem  +  5.4466230937vw , 5.625rem )) {
    .button-2 {
      padding-right: clamp( 2.5rem , 1.4106753813rem  +  5.4466230937vw , 5.625rem );
    }
}

@supports not (padding-right: clamp( 2.5rem , 1.4106753813rem  +  5.4466230937vw , 5.625rem )) {
    .button-2 {
      padding-right: calc(2.5rem + 3.125 * (100vw - 20rem) / 57.375);
    }
}

@supports (padding-left: clamp( 2.5rem , 1.4106753813rem  +  5.4466230937vw , 5.625rem )) {
    .button-2 {
      padding-left: clamp( 2.5rem , 1.4106753813rem  +  5.4466230937vw , 5.625rem );
    }
}

@supports not (padding-left: clamp( 2.5rem , 1.4106753813rem  +  5.4466230937vw , 5.625rem )) {
    .button-2 {
      padding-left: calc(2.5rem + 3.125 * (100vw - 20rem) / 57.375);
    }
}

@supports (padding-right: clamp( 2.5rem , 1.3888888889rem  +  5.5555555556vw , 5.6875rem )) {
    .button-3 {
      padding-right: clamp( 2.5rem , 1.3888888889rem  +  5.5555555556vw , 5.6875rem );
    }
}

@supports not (padding-right: clamp( 2.5rem , 1.3888888889rem  +  5.5555555556vw , 5.6875rem )) {
    .button-3 {
      padding-right: calc(2.5rem + 3.1875 * (100vw - 20rem) / 57.375);
    }
}

@supports (padding-left: clamp( 2.5rem , 1.3888888889rem  +  5.5555555556vw , 5.6875rem )) {
    .button-3 {
      padding-left: clamp( 2.5rem , 1.3888888889rem  +  5.5555555556vw , 5.6875rem );
    }
}

@supports not (padding-left: clamp( 2.5rem , 1.3888888889rem  +  5.5555555556vw , 5.6875rem )) {
    .button-3 {
      padding-left: calc(2.5rem + 3.1875 * (100vw - 20rem) / 57.375);
    }
}

@supports (padding-top: clamp( 2.5rem , 2.1296296296rem  +  1.8518518519vw , 3.5625rem )) {
    .protect__container {
      padding-top: clamp( 2.5rem , 2.1296296296rem  +  1.8518518519vw , 3.5625rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 2.1296296296rem  +  1.8518518519vw , 3.5625rem )) {
    .protect__container {
      padding-top: calc(2.5rem + 1.0625 * (100vw - 20rem) / 57.375);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 2.0356753813rem  +  5.4466230937vw , 6.25rem )) {
    .protect__container {
      padding-bottom: clamp( 3.125rem , 2.0356753813rem  +  5.4466230937vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 2.0356753813rem  +  5.4466230937vw , 6.25rem )) {
    .protect__container {
      padding-bottom: calc(3.125rem + 3.125 * (100vw - 20rem) / 57.375);
    }
}

@supports (font-size: clamp( 1rem , 0.825708061rem  +  0.871459695vw , 1.5rem )) {
    .block__button {
      font-size: clamp( 1rem , 0.825708061rem  +  0.871459695vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.825708061rem  +  0.871459695vw , 1.5rem )) {
    .block__button {
      font-size: calc(1rem + 0.5 * (100vw - 20rem) / 57.375);
    }
}
}

@media (max-width: 44.9375em) and (min-width: 77.375em) {
  .header__logo-link {
    font-size: 1.5rem;
  }

  .header__button {
    font-size: 1.5rem;
  }
}

@media (max-width: 44.9375em) and (min-width: 20em) and (max-width: 77.375em) {
@supports (font-size: clamp( 1.25rem , 1.1628540305rem  +  0.4357298475vw , 1.5rem )) {
    .header__logo-link {
      font-size: clamp( 1.25rem , 1.1628540305rem  +  0.4357298475vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.1628540305rem  +  0.4357298475vw , 1.5rem )) {
    .header__logo-link {
      font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 57.375);
    }
}

@supports (font-size: clamp( 1.25rem , 1.1628540305rem  +  0.4357298475vw , 1.5rem )) {
    .header__button {
      font-size: clamp( 1.25rem , 1.1628540305rem  +  0.4357298475vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.1628540305rem  +  0.4357298475vw , 1.5rem )) {
    .header__button {
      font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 57.375);
    }
}
}

@media (max-width: 28.125em) and (min-width: 77.375em) {
  .block__button {
    padding-top: 2.375rem;
  }

  .block__button {
    padding-botton: 2.25rem;
  }

  .block__button {
    padding-right: 6.3125rem;
  }

  .block__button {
    padding-left: 6.375rem;
  }
}

@media (max-width: 28.125em) and (min-width: 20em) and (max-width: 77.375em) {
@supports (padding-top: clamp( 1.5625rem , 1.2792755991rem  +  1.4161220044vw , 2.375rem )) {
    .block__button {
      padding-top: clamp( 1.5625rem , 1.2792755991rem  +  1.4161220044vw , 2.375rem );
    }
}

@supports not (padding-top: clamp( 1.5625rem , 1.2792755991rem  +  1.4161220044vw , 2.375rem )) {
    .block__button {
      padding-top: calc(1.5625rem + 0.8125 * (100vw - 20rem) / 57.375);
    }
}

@supports (padding-botton: clamp( 1.5625rem , 1.3228485839rem  +  1.1982570806vw , 2.25rem )) {
    .block__button {
      padding-botton: clamp( 1.5625rem , 1.3228485839rem  +  1.1982570806vw , 2.25rem );
    }
}

@supports not (padding-botton: clamp( 1.5625rem , 1.3228485839rem  +  1.1982570806vw , 2.25rem )) {
    .block__button {
      padding-botton: calc(1.5625rem + 0.6875 * (100vw - 20rem) / 57.375);
    }
}

@supports (padding-right: clamp( 5.625rem , 5.3853485839rem  +  1.1982570806vw , 6.3125rem )) {
    .block__button {
      padding-right: clamp( 5.625rem , 5.3853485839rem  +  1.1982570806vw , 6.3125rem );
    }
}

@supports not (padding-right: clamp( 5.625rem , 5.3853485839rem  +  1.1982570806vw , 6.3125rem )) {
    .block__button {
      padding-right: calc(5.625rem + 0.6875 * (100vw - 20rem) / 57.375);
    }
}

@supports (padding-left: clamp( 5.625rem , 5.3635620915rem  +  1.3071895425vw , 6.375rem )) {
    .block__button {
      padding-left: clamp( 5.625rem , 5.3635620915rem  +  1.3071895425vw , 6.375rem );
    }
}

@supports not (padding-left: clamp( 5.625rem , 5.3635620915rem  +  1.3071895425vw , 6.375rem )) {
    .block__button {
      padding-left: calc(5.625rem + 0.75 * (100vw - 20rem) / 57.375);
    }
}
}